/* --------------- btn --------------- */
.btn {
  display: inline-block;
  padding: 5px 10px 7px;
  background-color: #22aae2;
  color: #fff;
  font-size: 12px;
  text-align: center;
  border: none;
  font-family: $font-light;
  transition: background .3s ease-in-out;

  &:hover { background-color: #282a2b }
}

@media (min-width: $small) {
  .btn {

  }
}

@media (min-width: $medium) {
  .btn {
    padding: 10px 20px 15px;
    font-size: 24px;
  }
}

@media (min-width: $large) {
  .btn {

  }
}
/* --------------- /btn --------------- */
