/* --------------- follow-instagram --------------- */
.follow-instagram {
  position: relative;
  z-index: 3;
  max-width: 1140px;
  margin: 0 auto;

  &__title {
    display: block;
    margin-bottom: 4px;
    text-transform: uppercase;
    color: #323232;
    font-size: 18px;
    @include font-title();
  }

  &__wrap {
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    width: 50%;
    background-color: #e2e1e0;

    &-container {
      display: block;
      position: relative;
      padding-bottom: 100%;
    }

    &-pic {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      transition: transform .3s ease-in-out;
    }

    &:hover {

      .follow-instagram__item-pic {
        z-index: 2;
        transform: scale(1.1);
        transition: transform .8s ease-in-out;
      }
    }
  }
}

@media (min-width: $small) {
  .follow-instagram {

    &__item {
      width: 33.33333%;
    }
  }
}

@media (min-width: $medium) {
  .follow-instagram {

    &__item {
      width: 16.66666%;
    }
  }
}

@media (min-width: $large) {
  .follow-instagram {

  }
}
/* --------------- /follow-instagram --------------- */
