@font-face {
  font-family: "TimesNewRomanRegular";
  src: url("../fonts/TimesNewRomanRegular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "TimesNewRomanBold";
  src: url("../fonts/TimesNewRomanBold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "TimesNewRomanBoldItalic";
  src: url("../fonts/TimesNewRomanBoldItalic.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "TimesNewRomanItalic";
  src: url("../fonts/TimesNewRomanItalic.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Verlag-Book";
  src: url("../fonts/Verlag-Book.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}