/* --------------- includes --------------- */
.includes {
  padding: 20px 10px;
  max-width: 1200px;
  margin: 0 auto;
  font-family: $font-light;
  color: #282a2b;
  font-size: 12px;

  .includes__title {
    display: block;
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.2em;
    color: #282a2b;
  }

  p { padding: 0 0 7px 0; }

  .includes__table {
    display: table;
    width: 100%;
    margin-bottom: 10px;
    border-top: 1px solid #323232;
  }

  .includes__table-row {
    display: table-row;

    span {
      display: table-cell;
      vertical-align: middle;
      padding: 10px;
      border-bottom: 1px solid #323232;

      &:nth-child(even) {
        width: 70%;
        background: #eeeeee;
      }
    }
  }
}

@media (min-width: $small) {
  .includes {

  }
}

@media (min-width: $medium) {
  .includes {
    padding: 50px 10px;
    font-size: 18px;

    .includes__title {
      margin-bottom: 45px;
      font-size: 36px;
    }

    .includes__table { margin-bottom: 55px; }

    .includes__table-row {

      span { padding: 25px; }
    }
  }
}

@media (min-width: $large) {
  .includes {

  }
}
/* --------------- /includes --------------- */
