/* --------------- main-slider --------------- */
.main-slider {
  position: relative;
  min-height: 350px;
  padding-bottom: 37%;
  background: #e2e1e0;

  .main-slider__wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include absoluteCenterX();
    top: 0;
    height: 100%;
    width: 100%;
    max-width: 1200px;
    padding: 25px;
    color: #fff;
    font-size: 25px;
    text-shadow: 1px 1px 3px rgba(0,0,0,.5);
  }

  .swiper-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100% !important;
  }

  .swiper-slide {
    display: flex;
    align-content: center;
    background-size: cover;
    background-position: center;
  }

  .swiper-pagination {
    @include absoluteCenterX();
    bottom: 10px;
  }

  .swiper-pagination-bullet {
    width: 16px;
    height: 16px;
    margin: 0 6px;
    background: #fff;
    opacity: 1;

    &-active { background: #ed184c; }
  }
}

@media (min-width: $small) {
  .main-slider {

    .main-slider__title {
      margin-bottom: 41px;
      font-size: 48px;
    }
  }
}

@media (min-width: $medium) {
  .main-slider {

    .main-slider__wrap {
      padding: 50px;
      font-size: 48px;
    }
  }
}

@media (min-width: $large) {
  .main-slider {

    .swiper-pagination { bottom: 27px; }
  }
}
/* --------------- /main-slider --------------- */
