/* --------------- related-content --------------- */
.related-content {
  padding: 10px;
}

@media (min-width: $small) {
  .related-content {

  }
}

@media (min-width: $medium) {
  .related-content {
    max-width: 1240px;
    padding: 0 50px;
    margin: 0 auto;
  }
}

@media (min-width: $large) {
  .related-content {

  }
}
/* --------------- /related-content --------------- */
