@charset "utf-8";

/*
    websters-select styles
    version: 18.11.2015

    websters-select

*/

/* ---------------- websters-select ------------------ */
.websters-select{
  display: inline-block;
  vertical-align: top;
  position: relative;
  cursor: pointer;
  min-width: 70px;
  font-size: 14px;
}
.websters-select:before{
  content: '\2228';
  @include absoluteCenterY();
  right: 0;
}
.websters-select__item {
  position: relative;
  padding: 5px 15px 5px 5px;
  box-sizing: border-box;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  user-select: none;
}
.websters-select_mobile select {
  position: absolute;
  top: 0;
  left: 1px;
  width: 100%;
  bottom: -1px;
}
.websters-select_custom select{
  display: none;
}
.websters-select__popup {
  position: absolute;
  z-index: 10;
  overflow: hidden;
  color: #323232;
  font-size: 14px;
  text-transform: uppercase;
  box-shadow: 0 4px 10px rgba(0,0,0,.5);
  background: #fff;
  margin-left: -1px;
  min-width: 100px;
}
.websters-select__popup ul {
  z-index: 1;
}
.websters-select__popup li {
  padding: 5px 15px 5px 5px;
  //white-space: nowrap;
  //overflow: hidden;
  //text-overflow: ellipsis;
  background: transparent;
  transition: background 0.3s ease;

  &:first-child { border-top: none; }
}
.websters-select__popup li:hover,
.websters-select__popup li.active {
  background: #ed184c;
  color: #fff;
}
.websters-select__popup a,
.websters-select__popup a:visited {
  color: #323232;
}
/* ---------------- /websters-select ------------------ */
