/*
*   Screen sizes
\*===================================================*/
$small: 640px;
$medium: 1024px;
$large: 1200px;

/*
*   fonts
\*===================================================*/
$font: 'TimesNewRomanRegular', sans-serif;
$font-bold: 'TimesNewRomanBold', sans-serif;
$font-italic: 'TimesNewRomanItalic', sans-serif;
$font-bold-italic: 'TimesNewRomanBoldItalic', sans-serif;
$font-title: 'Verlag-Book', sans-serif;
